#main-nav {
	padding-right: 3rem;
	margin-top: -4rem;
}

#home {
	.wefilogo {
		width: 45%;
	}
}

#showcase {
	padding:0rem;
}

#wefipartners {
	padding-top: 5rem;
	padding-bottom: 2rem;
		.wefipic1 {
	    width: 100%;
	}
}

#wefimerchants {
	padding-top: 5rem;
	padding-bottom: 2rem;
	.wefipic2 {
	    width: 100%;
	}
}

#contact {
	background-image: linear-gradient(to bottom, #003884, #001c55);
	padding: 10rem;
}

.wefipic3 {
    width: 100% ;
}
.wefipic4 {
    width: 100% ;
}
.wefipic5 {
    width: 40% ;
}
.wefipic6 {
    width: 40% ;
}
.wefipic7 {
    width: 40% ;
}
.wefipic8 {
    width: 100% ;
}

.navbar-brand {
    width: 75%;
}

.navbar {
	padding: 0;
}

.wefiprocess1 {
	margin-bottom: -15rem;
    padding: 10rem;
}
.wefiprocess2 {
	margin-bottom: -15rem;
    padding: 10rem;
}
.wefiprocess3 {
	margin-bottom: -15rem;
    padding: 10rem;
}
.wefiprocess4 {
	margin-bottom: -7rem;
    padding: 10rem;
}

.form-control {
	background-color: transparent;
}

.btn {
	border-radius: 5%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#main-nav {
		margin-top: -2rem;
	}
	.wefipic9 { 
		width: 60%;
	}
	.wefiprocess1 {
		margin-bottom: 2rem;
	    padding: 0rem;
	}
	.wefiprocess2 {
		margin-bottom: 2rem;
	    padding: 0rem;
	}
	.wefiprocess3 {
		margin-bottom: 2rem;
	    padding: 0rem;
	}
	.wefiprocess4 {
		margin-bottom: 1rem;
	    padding: 0rem;
	}

	.partner-text {
	    margin-right: 1rem;
	    padding-bottom: 5rem;
	    padding-top: 5rem;
	}
	#main-nav {
		padding: 1rem;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#main-nav {
		margin-top: -2rem;
	}
	.partner-text {
	    margin-left: 0;
	    margin-top: 5rem;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#main-nav {
		margin-top: -2rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1020px) {
	#main-nav {
	    margin-top: -4rem;
	}
	.partner-text {
	    margin-left: 37%;
	    padding-right: 20rem;
	    padding-bottom: 5rem;
	    padding-top: 5rem;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	#main-nav {
	    margin: -4rem;

	}
}